.header {
  position: sticky;
  top: 0;
  background-color: #FBFBFB;
  z-index: 10;

  &__wrapper {
    display: flex;
    align-items: center;
    padding: 3px 10px 0;
  }

  &__logo-leaf {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }

  &__logo-name {
    color: rgb(64, 64, 64);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
  }

  &__burger {
    margin-left: auto;
    border: none;
    outline: none;
  }

  &__dropdown {
    display: none;

    &--visible {
      display: flex;
      flex-direction: column;
      background-color: #FBFBFB;
      background-image: url('https://mytona.com/static/images/framegray.png');
      box-shadow: inset 2rem -10rem 3rem #FBFBFB;
    }
  }

  &__navigation-options-list {
    padding: 0;
    list-style: none;
  }

  &__navigation-option {
    display: flex;
    align-items: center;
    height: 50px;
    color: #404040;
    font-size: 28px;
    font-weight: 700;
    padding: 5px 0;
    margin-left: 60px;
    transition: color 0.5s;
    cursor: pointer;

    &:hover,
    &--active {
      color: #037EBC;
    }

    & a {
      color: inherit;
      line-height: 40px;
      text-decoration: none;
    }

    &__dropdown-logo {
      width: 100px;
      height: 30px;
      background-color: lightcoral;
      background-image: url('https://mytona.com/static/images/logo.svg');
    }
  }
}