@import '../../node_modules/normalize.css/normalize.css';

@font-face {
  font-family: 'piratica';
  src: url('../fonts/piratica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'piratica';
  src: url('../fonts/piratica-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.main-page {
  position: relative;
  font-family: 'piratica', 'Open Sans', 'EB Garamond', sans-serif;
  text-size-adjust: 100%;

  &__news {
    background-color: maroon;
  }
}

a[name='top-screen'] {
  display: none;
}

.carousel {

  & li {
    margin-bottom: -5px; // exterminates strange gap under an image
  }

  &__slide-image {
    width: 100vw;
  }

  &__wrapper {
    position: relative;
  }

  &__button {
    position: absolute;
    width: 15%;
    height: 100%;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    border: none;
    outline: none;
  }

  &__button--prev {
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
  }

  &__button--next {
    top: 0;
    right: 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
  }

  &__thumbs {
    display: none;

    @media (min-width: 876px) {
      display: block;
    }
  }

  &__thumb-image {
    width: calc(100% / 5);
    cursor: pointer;
  }
}